@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);
@import url(http://fonts.googleapis.com/css?family=Oswald);

/*HEADER*/
#headerwrap {
    background: url(../img/clouds.jpg) no-repeat center top;
    margin-top: 0px;
    padding-top: 80px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    /*OPTIONAL*/
    /*max-width: 1170px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

#headerwrap .logoText {
    margin-bottom: 70px;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2.5em;
    font-weight: 800;
}

#headerwrap span.black {
    color: #293567;
}

#headerwrap span.red {
    color: #AC3B6C;
}

#headerwrap .logoSubText {
    font-weight: 300;
    font-size: 3.5em;
    color: white;
    margin-bottom: 50px;
}


/*MAIN*/

#main {
    padding-top: 20px;
    padding-bottom: 40px;
    /*height: 500px;*/
}

.mainTitles {
    font-size: 1.8em;
    color: #6674A5;
    margin-bottom: 40px;
}

.scheduleItem {
    background-color: #ADB6D5;
}

@media (max-width:767px) {
    .scheduleItem {
        padding: 12px;
    }
}
@media (min-width:768px) {
    .scheduleItem {
        padding: 13.5px;
    }
}
@media(min-width:992px){
    .scheduleItem {
        padding: 26.6px;
    }
}

@media(min-width:1200px){
    .scheduleItem {
        padding: 37px;
    }
}
.scheduleItem:nth-child(even) {
    background-color: #BBC3DA;
}

.scheduleItem h1 {
    font-size: .8em;
    float: left;
    text-transform: uppercase;
    margin-top: 0;
}

.scheduleItem h2 {
    font-size: 1em;
    clear: both;
    font-weight: 700;
}

.scheduleItem p {
    margin-bottom: 0;
}


.wantToAdvertise {
    background: #ffd761;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZkNzYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3OTYyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg,  #ffd761 0%, #f79621 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffd761), color-stop(100%,#f79621));
    background: -webkit-linear-gradient(45deg,  #ffd761 0%,#f79621 100%);
    background: -o-linear-gradient(45deg,  #ffd761 0%,#f79621 100%);
    background: -ms-linear-gradient(45deg,  #ffd761 0%,#f79621 100%);
    background: linear-gradient(45deg,  #ffd761 0%,#f79621 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd761', endColorstr='#f79621',GradientType=1 );

}

.wantToAdvertise h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.5em;
}

.wantToAdvertise .btn-default {
    margin-bottom: 20px;
}
/*CHAT*/

.chatBox {
    padding-left: 0;
    padding-right: 20px;
}

@media(max-width:767px){
    .chatBox {
        padding-right: 0;
    }
}

/*ADVERT*/
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
.carousel-indicators {
    bottom: -10px;
}
.carousel-indicators li {
    border-color: #000000;
}
.carousel {
    padding-right: 20px;
}

@media(max-width:767px){
    .carousel {
        padding-right: 0;
    }
}
/*APP ADVERT*/

#appad {
    background-color: #C0C7DA;
}

#appad img {
    margin-top: -30px;
    max-height: 500px;
}

#appad .subHeading {
    margin-bottom: 50px;
}

#appad a {
    font-size: 1em;
}

/*PLAYER*/
.listenNow, .player {
    float: left;
}

.player div.jp-audio, div.jp-audio-stream, div.jp-video, .player div.jp-interface {
    background: transparent;
    border: none;
}

/*ABOUT*/

#about {
    background-color: #AC3A6B;
}

#about h2 {
    text-transform: uppercase;
    color: #FFD761;
}

#about p {
    color: white;
}

/*MODAL*/
.modal-header {
    border: none;
}
.modal-dialog {
    width:250px;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    border-radius: 0;
    background-color: #7886B7;
}

.modal-body h2 {
    font-size: 1em;
}

.modal-body .btn {
    margin-top: 30px;
    margin-bottom: 0;

}

/*UTILS*/

.thin {
    font-family: 'Quicksand', sans-serif;
}

.tall {
    font-family: 'Oswald', sans-serif;
}

.center {
    text-align: center;
}

.white {
    color: #ffffff;
}

.heading {
    margin-top: 70px;
    font-size: 1em;
    font-weight: 700;
}

.subHeading {
    font-size: 2em;
    margin-top: 0;
}


.btn-default {
    font-weight: 700;
    border-radius: 20px;
    color: #000000;
    margin-bottom: 50px;
}

.width50 {
    width: 50%;
}